<p-card>
  <ng-template pTemplate="title">
    {{ project().title }}
  </ng-template>

  <ng-template pTemplate="content">
    <p>{{ project().description }}</p>

    <p-tag [value]="project().status" severity="info"> </p-tag>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      label="Edit"
      icon="pi pi-pencil"
      class="p-button-sm"
      (click)="onEdit()"
    ></button>
    <button
      pButton
      label="Delete"
      class="p-button-sm p-button-danger"
      (click)="onDelete()"
    ></button>
  </ng-template>
</p-card>
